.tip-container{
    display: flex;
    flex-direction: row;
    
}

.authored-tips-title{
    text-align: center;
}

.authored-tips-container{
    display: flex;
    justify-content: center;
}

.tips{
    padding: .5em;
    margin: 1em;
}