.box-container{
    padding: 1em;
    margin: 1em;
}

.divider{
    margin: 1em;
}

#checkin-greeting{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}