.sign-in-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgb(197, 171, 171);
    width: 25em;
    padding: 1em;
    padding-bottom: 2.5em;
    background: rgb(14,12,48);
    background: linear-gradient(310deg, rgb(46, 42, 127) 0%, rgba(119,148,207,1) 35%, rgba(158,228,242,1) 80%);
    box-shadow: .5em .5em .5em;
    margin-bottom: 1em;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .2em;
    flex-direction: column;
    padding: 2em;
}
#form-container fieldset{
    margin: 1em;
    padding: 1em;
}
#form-container fieldset input{
    line-height: 2;
    box-shadow:inset 0 0 1px 1px #888;
    background: #fff;
    
}
#form-container fieldset textarea{
    box-shadow:inset 0 0 2px 2px #888;
    background: #fff;
    
}
#form-container label{
    margin: 1em;
}
#sign-in-button{
    margin: .6em;
}

#dialog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    padding-top: 1.7em;
}

#close{
    margin:.5em;
    margin-top: 2em;
}

.login {
    cursor: pointer;
}

.button-container{
    display: flex;
    justify-content: center;
}

#bio{
    display: flex;
    justify-content: center;
}
#register-form{
    background: linear-gradient(310deg, rgb(46, 42, 127) 0%, rgba(119,148,207,1) 35%, rgba(158,228,242,1) 80%);
    margin-bottom: 1em;
    box-shadow: .5em .5em .5em;
}
#register{
    text-align: center;
}

#form-container section{
    margin: 1em;
}